.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  color: white;
  height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 86px;
}

.Stars {
  color: gold;
  font-size: 48px;
}

.Punchline{
  font-size: 10rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
